<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Árvores</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="conteudo">
        <nav class="menu">
            <a href="home.html"><div class="nav_link"><img src="/static/imagens/homeicon.png" alt="Imagem" class="icon">Início</div></a>
            <a href="arvore_cadastro.html"><div class="nav_link"><img src="/static/imagens/cadastroicon.png" alt="Imagem" class="icon">Cadastro</div></a>
            <a href="relatorio.html"><div class="nav_link"><img src="/static/imagens/relatorioicon.png" alt="Imagem" class="icon">Relatórios</div></a>
            <a href="arvore.html"><div class="nav_link"><img src="/static/imagens/arvoresicon.png" alt="Imagem" class="icon">Árvores</div></a>
            <a href="ocorrencia.html"><div class="nav_link"><img src="/static/imagens/ocorrenciaicon.png" alt="Imagem" class="icon">Ocorrências</div></a>
            <a href="configuracao.html"><div class="nav_link"><img src="/static/imagens/configicon.png" alt="Imagem" class="icon">Configurações</div></a>
        </nav>
    </div>
    <div class="pag_arvore">
        <h1>Árvores</h1>
        <div class="arvore_resultado">
            <h1>Árvores Cadastradas</h1>
            <div class="arvore_tabela">
                {% if tabela %}
                    <table>
                        <tr>
                            <td>ID</td>
                            <td>Nome Popular</td>
                            <td>Nome Científico</td>
                            <td>Data Cadastro</td>
                        </tr>
                    {% for a in tabela %}
                        <tr>
                            <td>{{ a['id'] }}</td>
                            <td>{{ a['nome'] }}</td>
                            <td>{{ a['especie'] }}</td>
                            <td>{{ a['data_cadastro'] }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>