<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="https://cdn.maptiler.com/maptiler-geocoding-control/v1.3.3/leaflet.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-geocoding-control/v1.3.3/style.css" rel="stylesheet">
</head>
<body>
    <div id="conteudo">
        <nav class="menu">
            <a href="home.html"><div class="nav_link"><img src="/static/imagens/homeicon.png" alt="Imagem" class="icon">Início</div></a>
            <a href="arvore_cadastro.html"><div class="nav_link"><img src="/static/imagens/cadastroicon.png" alt="Imagem" class="icon">Cadastro</div></a>
            <a href="relatorio.html"><div class="nav_link"><img src="/static/imagens/relatorioicon.png" alt="Imagem" class="icon">Relatórios</div></a>
            <a href="arvore.html"><div class="nav_link"><img src="/static/imagens/arvoresicon.png" alt="Imagem" class="icon">Árvores</div></a>
            <a href="ocorrencia.html"><div class="nav_link"><img src="/static/imagens/ocorrenciaicon.png" alt="Imagem" class="icon">Ocorrências</div></a>
            <a href="login.html"><div class="nav_link"><img src="/static/imagens/sairicon.png" alt="Imagem" class="icon">Sair</div></a>
        </nav>
    </div>
    <div id="home">
        <h1 id="quantia">{{ marcador[0] }}</h1>
        <h2>Árvores Cadastradas</h2>
        <div id="map">
            <script>
                var map = L.map('map').setView([-23.79, -45.40], 13);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                map.on('click', function(ev) {
                    alert(ev.latlng); // ev is an event object (MouseEvent in this case)
                });

                L.control.scale({
                    metric: true,
                    imperial: false,
                    position: 'bottomright'
                }).addTo(map);

                L.Control.Watermark=L.Control.extend({
                    onAdd:function(map){
                        var img = L.DomUtil.create('img');
                        img.src = '/static/imagens/logo-arbonize.png'
                        img.style.width = '150px';
                        img.style.height = '150px';
                        return img;
                    },
                    onRemove:function(map){},
                });

                L.control.watermark = function(opts){
                    return new L.Control.Watermark(opts);
                };

                L.control.watermark({position: 'bottomleft'}).addTo(map);
            </script>
        </div>
        {% for c in range(marcador[0]) %}
            <script>
                L.marker([{{marcador[1][c]['latitude']}}, {{marcador[1][c]['longitude']}}]).addTo(map);
            </script>
        {% endfor %}
    </div>
</body>
</html>