<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="https://cdn.maptiler.com/maptiler-geocoding-control/v1.3.3/leaflet.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-geocoding-control/v1.3.3/style.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar d-flex flex-column">
            <a href="home.html" class="d-flex align-items-center">
                <img src="/static/imagens/homeicon.png" alt="Imagem de uma casa" class="icon">Início</a>
            <a href="arvore_cadastro.html" class="d-flex align-items-center">
                <img src="/static/imagens/cadastroicon.png" alt="Imagem de uma folha" class="icon">Cadastro</a>
            <a href="relatorio.html" class="d-flex align-items-center">
                <img src="/static/imagens/relatorioicon.png" alt="Imagem de" class="icon">Relatórios</a>
            <a href="arvore.html" class="d-flex align-items-center">
                <img src="/static/imagens/arvoresicon.png" alt="Imagem" class="icon">Árvores</a>
            <a href="ocorrencia.html" class="d-flex align-items-center">
                <img src="/static/imagens/ocorrenciaicon.png" alt="Imagem" class="icon">Ocorrências</a>
            <a href="login.html" class="d-flex align-items-center">
                <img src="/static/imagens/sairicon.png" alt="Imagem" class="icon">Sair</a>
        </div>
    <div class="relatorio content p-4">
        <div id="map">
            <script>
                var map = L.map('map').setView([-23.79, -45.40], 13);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                map.on('click', function(ev) {
                    alert(ev.latlng); // ev is an event object (MouseEvent in this case)
                });

                L.control.scale({
                    metric: true,
                    imperial: false,
                    position: 'bottomright'
                }).addTo(map);

                L.Control.Watermark=L.Control.extend({
                    onAdd:function(map){
                        var img = L.DomUtil.create('img');
                        img.src = '/static/imagens/logo-arbonize.png'
                        img.style.width = '150px';
                        img.style.height = '150px';
                        return img;
                    },
                    onRemove:function(map){},
                });

                L.control.watermark = function(opts){
                    return new L.Control.Watermark(opts);
                };

                L.control.watermark({position: 'bottomleft'}).addTo(map);
            </script>
        </div>
        {% for c in range(marcador[0]) %}
            <script>
                var lat = {{marcador[1][c]['latitude']}}
                var lng = {{marcador[1][c]['longitude']}}
                var id = {{marcador[1][c]['id']}}
                var marker = L.marker([lat, lng]).addTo(map);
                marker.bindPopup("<b>ID: " + id + "</b>").openPopup();
            </script>
        {% endfor %}
    </div>
    </div>
</body>
</html>