<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
    <script type="module" defer src="https://cdn.what3words.com/javascript-components@4.8.0/dist/what3words/what3words.esm.js"></script>
    <script nomodule defer src="https://cdn.what3words.com/javascript-components@4.8.0/dist/what3words/what3words.js"></script> 
</head>
<body>
    <div id="conteudo">
        <nav class="menu">
            <a href="home.html"><div class="nav_link"><img src="/static/imagens/homeicon.png" alt="Imagem" class="icon">Início</div></a>
            <a href="arvore_cadastro.html"><div class="nav_link"><img src="/static/imagens/cadastroicon.png" alt="Imagem" class="icon">Cadastro</div></a>
            <a href="relatorio.html"><div class="nav_link"><img src="/static/imagens/relatorioicon.png" alt="Imagem" class="icon">Relatórios</div></a>
            <a href="arvore.html"><div class="nav_link"><img src="/static/imagens/arvoresicon.png" alt="Imagem" class="icon">Árvores</div></a>
            <a href="ocorrencia.html"><div class="nav_link"><img src="/static/imagens/ocorrenciaicon.png" alt="Imagem" class="icon">Ocorrências</div></a>
            <a href="login.html"><div class="nav_link"><img src="/static/imagens/sairicon.png" alt="Imagem" class="icon">Sair</div></a>
        </nav>
    </div>
    <div id="home">
        <h1 id="quantia">{{ quantia }}</h1>
        <h2>Árvores Cadastradas</h2>
        <what3words-map
            id="w3w-map"
            api_key="7BAF2GXB"
            map_api_key="AIzaSyCroqM23OWNN3qWbnBPJ-qtU2lbVd6m18A"
            lng="-45.40281"
            lat="-23.79312"
            disable_default_ui
            fullscreen_control
            map_type_control
            zoom_control
            current_location_control_position="9"
            fullscreen_control_position="3"
            search_control_position="2"
            words="contour.qualifying.overboard"
          >
            <div slot="map" id="map-container"></div>
            <div slot="search-control" id="search-container">
            <what3words-autosuggest>
                <input
                    id="search-input"
                    type="text"
                    placeholder="Find your address"
                    autocomplete="off"
                />
                </what3words-autosuggest>
            </div>
            <div slot="current-location-control" id="current-location-container">
                <button>Current Location</button>
            </div>
          </what3words-map>
    </div>
</body>
</html>