<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main id="login">
        <header>
            <h1>LOGIN</h1>
        </header>
        <section>
            <form action="/login" method="post">
                <input type="text" name="usuario" id="idusuario" placeholder="USUÁRIO" required>
                <input type="password" name="senha" id="idsenha" placeholder="SENHA" required>
                <a href="cadastro.html">Criar Conta</a>
                <input type="submit" value="ENTRAR" class="botao_form">
            </form>
        </section>
    </main>
    <div class="exemplo">

    </div>
</body>
</html>