<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="conteudo">
        <nav class="menu">
            <a href="home.html"><div class="nav_link"><img src="/static/imagens/homeicon.png" alt="Imagem" class="icon">Início</div></a>
            <a href="arvore_cadastro.html"><div class="nav_link"><img src="/static/imagens/cadastroicon.png" alt="Imagem" class="icon">Cadastro</div></a>
            <a href="relatorio.html"><div class="nav_link"><img src="/static/imagens/relatorioicon.png" alt="Imagem" class="icon">Relatórios</div></a>
            <a href="arvore.html"><div class="nav_link"><img src="/static/imagens/arvoresicon.png" alt="Imagem" class="icon">Árvores</div></a>
            <a href="ocorrencia.html"><div class="nav_link"><img src="/static/imagens/ocorrenciaicon.png" alt="Imagem" class="icon">Ocorrências</div></a>
            <a href="login.html"><div class="nav_link"><img src="/static/imagens/sairicon.png" alt="Imagem" class="icon">Sair</div></a>
        </nav>
        <div class="pag_pesquisa">
            <h1><img src="/static/imagens/Iconrelatorio.png" alt="Imagem de alguns papéis" class="icon">Relatórios</h1>
            <div class="pesquisa_resultado">
                <h1>Resultado</h1>
                <div class="pesquisa_tabela">
                    {% if pesquisa %}
                        <table id="parte1">
                        {% for k, v in pesquisa.items() %}
                            {% if k == 'danos_passeio' %}
                                </table>
                                <table id="parte2">
                            {% endif %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
